<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Snowtricks{% endblock %}</title>
    <!--pour le css perso, pour charger les fichier du repertoire css, nous pouvons utiliser le joker '*' => bundles/ocplatform/css/* -->
    {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css" />
      <link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}" type="text/css" />
    {% endblock %}
    
  </head>

  <body>
      <nav class="navbar navbar-default">
          <div class="container">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="{{ path('st_app_home') }}">Accueil</a>
                  </li>
                  <li>
                      <a href="#">Tricks</a>
                  </li>
                  {% if is_granted('ROLE_USER') %}
                    <li>
                        <a href="{{ path('profile') }}">{{ app.user.firstname}} {{ app.user.lastname }}</a>
                    </li>
                  {% endif %}
                  {% if not is_granted('ROLE_USER') %}
                  <li>
                      <a href="{{ path('login') }}">Connexion</a>
                  </li>
                  {% endif %}
                  {% if is_granted('ROLE_USER') %}
                    <li>
                        <a href="{{ path('logout') }}">Deconnexion</a>
                    </li>
                  {% endif %}
                  {% if not is_granted('ROLE_USER') %}
                  <li>
                      <a href="{{ path('register') }}">Inscription</a>
                  </li>
                  {% endif %}
              </ul> 
          </div>
      </nav>

      {% block body %}
      {% endblock %}

    <footer>
      <div class="container">
                <div class="row">
                    <div class="col col-md-12">
                        <h3>Suivez-nous sur les réseaux sociaux :</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://twitter.com/?lang=fr" target="blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="blank" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                        </ul><br />
                </div>
      </div>
      <p>Copyright © {{ 'now'|date('Y') }} - Réalisé par <a href="https://github.com/HDoumali/" target="blank" class="btn-social btn-outline">Hassan DOUMALI</a></p>
    </footer>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    
  {% endblock %}

  
  </body>
</html>
