{% extends "STAppBundle::layout.html.twig" %}

{% block title %}
	Supprimer une video - {{ parent() }}
{% endblock %}

{% block body %}

	<h3>Supprimer une video</h3>

	<p>Etes-vous sur de vouloir supprimer la vidéo n° {{ video.id }} ?</p>

	<form action="{{ path('st_app_delete_video', {'id' : video.id}) }}" method="POST">
		<a href="{{ path('st_app_edit', {'id' : video.trick.id}) }}" class="btn btn-default">Revenir à la figure</a> 
		<input type="submit" value="Supprimer" class="btn btn-danger">
		{{ form_rest(form) }}
	</form>

	<p>ATTENTION : Cette image sera supprimée définitivement de la figure associée</p>
	
{% endblock %}