{% extends "STAppBundle::layout.html.twig" %}

{% block title %}
	Modification de la figure "{{ trick.name }}" - {{ parent() }}
{% endblock %}

{% block body %}

	<h3>Vous souhaitez modifier la figure "{{ trick.name }}"</h3>

	{{ include("STAppBundle:Trick:form.html.twig") }}
	<a href="{{ path('st_app_delete', {'id': trick.id}) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>

	<p>la modification sera visible directement après validation du formulaire</p>
	
{% endblock %}