{% extends "STAppBundle::layout.html.twig" %}

{% block title %}
	Modification de l'image - {{ parent() }}
{% endblock %}

{% block body %}
  <div class="container">
      <div class="form_edit_picture">

          <h4><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Vous souhaitez modifier l'image n°{{ picture.id }} de la figure {{ picture.trick.name|upper }}</h4>

          <div class="well">
          	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.file, "Image", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.file) }}
                <div class="col-sm-10">
                  {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            {{ form_rest(form) }}

            {{ form_widget(form.Modifier, {'attr': {'class': 'btn btn-primary'}}) }}
            
            {{ form_end(form) }}
          </div>

          <p><span class="label label-info">Info</span> la modification sera visible directement après validation du formulaire.</p>
      </div>
  </div>

{% endblock %}